.activeButton{
    width: 100px;   
    height: 34px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    border-radius: 80px;
    border: none;
    background-color: rgb(244, 224, 65);
    cursor: pointer;

    &:hover{
        background-color: rgb(255, 227, 2);
    }
}

.notActiveButton{
    width: 100px;
    height: 34px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    border-radius: 80px;
    border: none;
    color:rgba(255, 255, 255, 0.87);
    background-color: rgb(204, 204, 255);
}