@import-normalize;

@font-face {
    font-family: "NunitoExtraLight";
    src: local("NunitoExtraLight"),
        url("./fonts/Nunito-ExtraLight.ttf") format("truetype");
    font-weight: lighter;
}

@font-face {
    font-family: "NunitoRegular";
    src: local("NunitoRegular"),
        url("./fonts/Nunito-Regular.ttf") format("truetype");
    font-weight: lighter;
}


body {
    margin: 0;
    font-family: "NunitoRegular";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}